.card {
  box-sizing: border-box;
  min-width: 350px;
  max-width: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.form-control label {
  text-align: left;
}
.form-control input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
}
.form-control input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}
form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 8px 0;
  border-radius: 20px;
  border-width: 1px;
}
form input[type="submit"]:hover {
  cursor: pointer;
}
